@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body, html {
    overflow-x: hidden;
}



p, a, h1, h2, h3, h4, li, ul, button {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
    color: white;
}

.container {
    width: 1160px;
    position: relative;
}

.red-btn {
    & button {
        background: linear-gradient(0deg, #B82B40, #B82B40), #922636;
        border-radius: 3px;
        border: none;
        padding: 15px 34px;
        font-weight: 600;
    }
}

.mobile__menu {
    display: none;
}

header {
    background: #232323;
    & .container {
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    display: flex;
    }
    & .logo-block {
        position: relative;
        & p{
            position: absolute;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            bottom: -20px;
        }
    }
    & .logo {
        width: 200px;
        margin-right: 87px;
        position: relative;
        
    }
    & ul {
        list-style: none;
        display: flex;
        align-items: center;
        & li {
            color: white;
            font-weight: 500;
            margin-right: 25px;
            position: relative;
            font-size: 16px;
            line-height: 20px;
            &::after {
                content: '';
                display: block;
                width: 15px;
                height: 2px;
                position: absolute;
                background: #922636;
                transition: all .4s ease;
            }
            &:last-child {
                margin-right: 40px;
            }
            &:hover {
                cursor: pointer;
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

main {
    & .top {
        position: relative;
        & .top-bg {
            position: absolute;
            z-index: -1;
            width: 100%;
        }
        //background: url('../meida/img/top_bg.png') 50% 50% / 100% no-repeat;
        height: 713px;
        overflow: hidden;
        & h1 {
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            font-size: 100px;
            line-height: 147px;
            margin-top: 130px;
        }
        & p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            width: 491px;
            font-size: 20px;
            line-height: 24px;
            position: relative;
            display: flex;
            &::before {
                position: relative;
                content: '';
                display: block;
                background: #FFFF;
                border-radius: 100px;
                width: 20px;
                height: 140px;
                margin-right: 20px;
            }
        }
        & .top-text1 {
            position: relative;
            width: 419px;
            margin-top: 20px;
            &::before {
                content: url(../meida/img/red_left.png);
                position: absolute;
                top: -50%;
                left: -50%;
                transform: translate(120px, 30%);
            }
        }
        & .top_rtext {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            & .top-text2 {
                position: relative;
                width: 579px;
                &::before {
                    content: url(../meida/img/red_right.png);
                    position: absolute;
                    top: -50%;
                    left: -50%;
                    transform: translate(200px, 10%);
                }
                & p {
                    text-align: right;
                    width: auto;
                    &::before {
                        display: none;
                    }
                    &::after {
                        position: relative;
                        content: '';
                        display: block;
                        background: #FFFF;
                        border-radius: 100px;
                        width: 14px;
                        height: 96px;
                        margin-left: 20px;
                    }
                }
            }
        }
        & .red-btn {
            & button {
                box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.15);
                font-weight: 600;
                font-size: 30px;
                line-height: 37px;
                padding: 22px 77px;
            }
            
        }
    }
    & .he__text {
        margin-bottom: 100px;
        & h1 {
            font-weight: 600;
            font-size: 60px;
            display: flex;
            align-items: center;
            margin-top: 45px;
            position: relative;
            z-index: 2;
            &::before {
                content: '';
                display: block;
                margin-right: 10px;
                width: 60px;
                height: 6px;
                background: #922636;
            }
            &:last-child {
                margin-top: 0;
                position: absolute;
                right: 0;
                top: -45px;
                color: #1E1E1E;
                text-shadow: 0 0 1px #ffffff;
                font-size: 120px;
                line-height: 120px;
                z-index: 1;
                &::before {
                    display: none;
                }
            }
        }
    }
    & .why {
        background: linear-gradient(0deg, #1E1E1E, #1E1E1E), #FFFFFF;
        padding: 33px 0 100px 0;
        & .why__row {
            display: flex;

        }
        & .coll__item {
            margin-bottom: 50px;
            padding: 42px 30px;
            background: linear-gradient(0deg, #292929, #292929), #232323;
            & h1 {
                font-weight: 600;
                font-size: 28px;
                line-height: 34px;
                margin-bottom: 30px;
            }
            & p {
                font-weight: 400;
                font-size: 22px;
                line-height: 27px;
            }
            &:last-child {
                & h1 {
                    margin-bottom: 0;
                }
            }
        }
        & .colr__item {
            margin-bottom: 50px;
            
            &:last-child {
                margin-bottom: 50px;
                padding: 42px 30px;
                background: linear-gradient(0deg, #292929, #292929), #232323;
                & h1 {
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 34px;
                    margin-bottom: 0px;
                }
                & p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 27px;
                }
            }
            
        }
        & .why__coll {
            width: 560px;
            margin-right: 40px;
            position: relative;
            
            
            & img {
                position: absolute;
                &.cercl {
                    top: 212px;
                    left: -10%;
                }
                &.plus {
                    right: 0;
                    transform: translate(50%, -50%);
                }
                &.plusb {
                    top: 674px;
                    right: 38px;
                    transform: translate(0%, 0%);
                    z-index: 20;
                    height: 64px;
                }
            }
        }
        & .why__colr {
            
                & .cercl {
                    position: absolute;
                    top: 1157px;
                    z-index: 20;
                    right: 50px;
                    height: 66px;
                    transform: translate(50%, -50%);
                }
                
            
            width: 560px;
            & .colr__item {
                img {
                    width: 560px;
                    box-shadow: 5px -5px 0px 0px #B82B40;
                }
            }
        }
    }
    & .advant {
        padding: 55px 0;
        background: linear-gradient(0deg, #292929, #292929), #292929;
        position: relative;
        & img {
            position: absolute;
            &.adv__bgl {
                top: 552px;
            }
            &.adv__bgr {
                right: 0;
                top: 740px;
            }
        }
        & .he__text {
            & h1 {
                &:last-child {
                    color: #292929;
                }
            }
        }
        & .advant__text {
            width: 1054px;
            & h1 {
                font-weight: 600;
                font-size: 28px;
                line-height: 34px;
                margin-bottom: 50px;
            }
        }
        & .cercl {
            position: absolute;
            top: 266px;
            left: -16%;
        }
        & .cercll {
            top: 1374px;
            right: -7%;
        }
        & .plus {
            top: 652px;
            right: -16%;
            height: 64px;
        }
        & .plusr {
            top: 1576px;
            left: -7%;
            height: 64px;
        }
        & .advant__row {
            & .advant__item {
                text-align: center;
                display: flex;
                flex-direction: column;
                transition: all .4s ease;
                align-items: center;
                margin-bottom: 50px;
                background: linear-gradient(90deg, rgba(184,43,64,1) 0%, rgba(30,30,30,1) 4%, rgba(30,30,30,1) 10%, rgba(30,30,30,1) 100%);
                padding: 20px 0;
                & h1 {
                    margin-bottom: 10px;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 34px;
                }
                & p {
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 30px;
                    width: 1023px;
                }
                &:nth-child(even) {
                    background: linear-gradient(270deg, rgba(184,43,64,1) 0%, rgba(30,30,30,1) 4%, rgba(30,30,30,1) 10%, rgba(30,30,30,1) 100%);
                }
            }
        }
    }
    & .for {
        padding: 33px 0;
        background: linear-gradient(0deg, #1E1E1E, #1E1E1E), #212121;
        & .for__row {
            margin-bottom: 150px;
        }
        & .for__item {
            padding: 30px 70px;
            position: relative;
            margin-bottom: 50px;
            background: linear-gradient(0deg, #292929, #292929), #232323;
            & h1 {
                font-weight: 600;
                font-size: 29px;
                line-height: 35px;
                color: #B82B40;
                margin-bottom: 15px;
            }
            & p {
                font-weight: 400;
                font-size: 22px;
                line-height: 27px;
            }
            & .item__num {
                position: absolute;
                background: #B82B40;
                width: 42px;
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                top: 28px;
                left: 13px;
                & p {
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 37px;
                }
            }
        }
        & .for__rowb {
            display: flex;
            & .rowb__coll {
                width: 560px;
                margin-right: 40px;
                & .coll__item {
                    padding: 30px;
                    margin-bottom: 40px;
                    background: linear-gradient(0deg, #292929, #292929), #232323;
                    & h1 {
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 34px;
                        margin-bottom: 30px;
                    }
                    & p {
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 27px;
                        
                    }
                }
            }
            & .rowb__colr {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 560px;
                & .colr__item {
                    width: 100%;
                    background: linear-gradient(0deg, #292929, #292929), #232323;
                    padding: 30px;
                    margin-bottom: 50px;
                    & h1 {
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 34px;
                        
                    }
                    &.img {
                        padding: 0;
                        position: relative;
                        z-index: 2;
                        margin-bottom: 30px;
                        &::after{
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -5px;
                            z-index: -1;
                            right: -5px;
                            background: #B82B40;
                            width: 535px;
                            height: 292px;
                        }
                    }
                    
                }
                & .red-btn {
                    & button {
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 27px;
                        padding: 12px 51px;
                        box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }
    }
    & .steps {
        padding: 33px 0 105px 0;
        background: linear-gradient(0deg, #292929, #292929), linear-gradient(0deg, #333333, #333333), #232323;
        & .steps__undertext {
            font-weight: 600;
            font-size: 28px;
            line-height: 34px;
            width: 1140px;
        }
        & .he__text {
            & h1 {
                &:last-child {
                    color: #292929;
                }
            }
        }
        & .steps__text {
            margin-bottom: 70px;
            & h1 {
                font-weight: 600;
                font-size: 28px;
                line-height: 34px;
            }
        }
        & .steps__row {
            & .steps__item {
                & img {
                    height: 102px;
                }
                margin-bottom: 42px;
                display: flex;
                & .steps__col1 {
                    width: 519px;
                    margin-right: 31px;
                    & h1 {
                        font-weight: 400;
                        font-size: 25px;
                        line-height: 30px;
                        text-align: center;
                    }
                }
                
                & .steps__col2 {
                    width: 92px;
                    margin-right: 32px;
                    position: relative;
                    & .steps__num {
                        width: 92px;
                        height: 45px;
                        background: #922636;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        & p {
                            font-weight: 500;
                            font-size: 36px;
                            line-height: 44px;
                        }
                    }
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 1px;
                        height: 100%;
                        background: #B82B40;
                        left: 50%;
                        transform: translateX(-50%);
                        box-shadow: 0 0 10px 5px #b82b403f;
                    }
                }
                & .steps__col3 {
                    width: 519px;
                    & .step__img {
                        margin-left: 43px;
                        margin-top: 10px;
                    }
                    & h1 {
                        font-weight: 400;
                        font-size: 25px;
                        line-height: 30px;
                        text-align: center;
                    }
                }
                &:nth-child(even){

                    .steps__col1 {
                        order: 3;
                        margin-right: 0;
                    }
                    & .steps__col2 {
                        order: 2;
                        margin: 0 32px;
                    }
                    & .steps__col3 {
                        display: flex;
                        justify-content: end;
                        order: 1;
                        & .step__img {
                            margin: 10px 43px 0 0;
                        }
                    }
                }
                &:last-child {
                    & .steps__col2 {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
            
        }
    }
    & .ture {
        overflow: hidden;
        height: 458px;
        & .ture__bg {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 100vw;
                height: 100vh;
                background: #1e1e1e60;
                top: 0;
                left: 0;
            }
        }
        & img {
            width: 100%;
            position: absolute;
        }
        & .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 30;
            text-align: center;
            & h1 {
                margin-top: 118px;
                font-weight: 600;
                font-size: 41px;
                line-height: 50px;
                width: 943px;
                margin-bottom: 42px;
            }
            & .red-btn {
                & button {
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 37px;
                    padding: 22px 81px;
                    box-shadow: 0px 10.2857px 14.4px rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
    & .contacts {
        padding: 33px 0 142px 0;
        background: linear-gradient(0deg, #292929, #292929), linear-gradient(0deg, #333333, #333333), linear-gradient(0deg, #232323, #232323), #212121;
        & .container {
            position: relative;
        }
        & .form__bg {
            position: absolute;
            top: 733px;
            right: -59px;
            z-index: 1;
        }
        & .he__text {
            & h1 {
                &:last-child {
                    color: #292929;
                }
            }
        }
        & .contacts__text {
            margin-bottom: 55px;
            & p {
                margin-bottom: 21px;
                font-weight: 600;
                font-size: 28px;
                line-height: 34px;
            }
        }
        & .plus {
            position: absolute;
            height: 92px;
            transform: rotate(45deg);
            top: 125px;
            right: -63px;
        }
        & .contact__forms {
            display: flex;
        }
        & .contacts__form {
            width: 560px;
            margin-right: 40px;
            display: flex;
            flex-direction: column;
            & p {
                font-weight: 400;
                font-size: 22px;
                line-height: 27px;
                margin-bottom: 11px;
            }
            & input {
                color: white;
                width: 560px;
                height: 72px;
                background: linear-gradient(0deg, #232323, #232323), linear-gradient(0deg, #292929, #292929), linear-gradient(0deg, #FFFFFF, #FFFFFF), #1E1E1E;
                border: 2px solid #B82B40;
                margin-bottom: 31px;
                &.submit {
                    background: linear-gradient(0deg, #B82B40, #B82B40), #922636;
                    box-shadow: 0px 10.2857px 14.4px rgba(255, 255, 255, 0.2);
                    border-radius: 5px;
                    width: 390px;
                    height: 82px;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 37px;
                    font-family: 'montserrat';
                    color: white;

                }
            }
            & textarea {
                color: white;
                width: 560px;
                height: 163px;
                background: linear-gradient(0deg, #232323, #232323), linear-gradient(0deg, #292929, #292929), linear-gradient(0deg, #FFFFFF, #FFFFFF), #1E1E1E;
                border: 2px solid #B82B40;
                margin-bottom: 31px;
            }
        }
        & .form__img {
            position: relative;
            z-index: 2;
            & img {
                margin-top: 37px;
            }
        }
    }
    & .reviews {
        padding: 33px 0 105px 0;
        background: linear-gradient(0deg, #1E1E1E, #1E1E1E), #232323;
        & .reviews__text {
            & p {
                font-weight: 600;
                font-size: 28px;
                line-height: 34px;
                margin-bottom: 32px;
            }
            & h1 {
                font-weight: 600;
                font-size: 28px;
                line-height: 34px;

            }
        }
        & .rew {
            & .rew__item {
                margin-bottom: 40px;
                & h1 {
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 34px;
                    margin-bottom: 11px;
                    color: #B82B40;
                }
                & p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 27px;
                }
            }
        }
        
    }
    & .faq {
        padding: 33px 0 105px 0;
    background: linear-gradient(0deg, #1E1E1E, #1E1E1E), #232323;
        & .questions {
            & .quest {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 0;
                position: relative;
                &.active {
                    &::after {
                        display: none;
                    }
                }
                & h1 {
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 34px;
                }
                &::before {
                    content: '';
                    top: 0;
                    width: 100%;
                    height: 4px;
                    background: #B82B40;
                    position: absolute;
                }
                &::after {
                    content: '';
                    bottom: 0;
                    width: 100%;
                    height: 4px;
                    background: #B82B40;
                    position: absolute;
                }
                & .quest__btn {
                    width: 30px;
                    height: 30px;
                    transition: all .4s ease;
                    &:hover {
                        cursor: pointer;
                    }
                    & img {
                        height: 30px;
                    }
                    &.active {
                        transform: rotate(45deg);
                    }
                }
                &:nth-child(n+2){
                    &::before {
                        display: none;
                    }

                }
            }
            & .answer {
                position: relative;
                display: none;
                & p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 27px;
                }
                &::after {
                    content: '';
                    bottom: -20px;
                    width: 100%;
                    height: 4px;
                    background: #B82B40;
                    position: absolute;
                }
                &.active {
                    display: block;
                }
            }
        }
    }
}

footer {
    padding: 33px 0;
    background: linear-gradient(0deg, #1E1E1E, #1E1E1E), linear-gradient(0deg, #232323, #232323), linear-gradient(0deg, #1E1E1E, #1E1E1E), #212121;
    & .footer__coll {
        display: flex;
        flex-direction: column;
        width: 205px;
        & .logo {
            width: 205px;
            margin-bottom: 21px;
        }
        & a {
            text-decoration: none;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 21px;
        }
        & p {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;

        }
    }
    & ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        & li {
            color: white;
            font-weight: 500;
            margin-right: 25px;
            position: relative;
            font-size: 16px;
            line-height: 20px;
            &::after {
                content: '';
                display: block;
                width: 15px;
                height: 2px;
                position: absolute;
                background: #922636;
                transition: all .4s ease;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                cursor: pointer;
                &::after {
                    width: 100%;
                }
            }
        }
    }
    & .footer__row {
        display: flex;
        justify-content: space-between;
    }
    & .footer__icons {
        display: flex;
        justify-content: flex-end;
        & a {
            margin-right: 31px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 1024px) {
    .mobile__menu {
        display: block;
        & .burger {
            background: #b82b407a;
            width: 36px;
            height: 36px;
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 60;
            border-radius: 50px;
            & .line {
                position: absolute;
                width: 20px;
                height: 2px;
                background: #ffffff;
                transition: all .4s ease;
                top: 50%;
                left: 50%;
                z-index: 60;
                transform: translate(-50%, -50%);
                &::after {
                    transition: all .4s ease;
                    background: #ffffff;
                    content: '';
                    display: block;
                    width: 20px;
                    height: 1px;
                    position: absolute;
                    top: 6px;
                }
                &::before {
                    transition: all .4s ease;
                    background: #ffffff;
                    content: '';
                    display: block;
                    width: 20px;
                    height: 1px;
                    position: absolute;
                    top: -6px;
                }
                &.active {
                    height: 1px;
                    transform: rotate(45deg);
                    &::after {
                        width: 0;
                    }
                    &::before {
                        transform: rotate(-90deg);
                        top: 0;
                    }
                }
            }
        }
        & .menu {
            transition: all .4s ease;
            position: fixed;
            background: #1E1E1E;
            padding: 60px 20px;
            right: -100%;
            top: 0;
            width: 80%;
            height: 100%;
            z-index: 50;
            border-left: 4px solid #922636;
            &.active {
                right: 0;
            }
            & ul {
                list-style: none;
                align-items: center;
                margin-bottom: 40%;
                & li {
                    color: white;
                    font-weight: 500;
                    margin-right: 25px;
                    position: relative;
                    font-size: 16px;
                    margin-bottom: 20px;
                    line-height: 20px;
                    &::after {
                        content: '';
                        display: block;
                        width: 15px;
                        height: 2px;
                        position: absolute;
                        background: #922636;
                        transition: all .4s ease;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &:hover {
                        cursor: pointer;
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
            & .footer__icons {
                display: flex;
                margin-bottom: 20px;
                justify-content: space-between;
                & a {
                    & img {
                        width: 40px;
                    }
                }
            }
            & .red-btn {
                width: 100%;
                display: flex;
                justify-content: center;
                & button {
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }
    }

    .container {
        width: 96%;
        padding: 0;
    }

    header {
        
        & .container {
            height: 90px;
            display: flex;
            align-items: flex-start;
        }
        & .logo-block {
            display: flex;
            width: 100%;
            justify-content: center;
            margin: 0;
            & .logo {
                width: 200px;
                margin: 0;
            }
            & p {
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
            }
        }
        & ul {
            display: none;
        }
        & .red-btn {
            display: none;
        }
    }
    main {
        & .top {
            & .top-bg {
                height: 100%;
                width: auto;
                left: 5%;
                transform: translateX(-50%);
            }
            & h1 {
                font-weight: 700;
                text-align: center;
                font-size: 50px;
                line-height: 91px;
            }
            & .top-text1 {
                &::before {
                    content: url(../meida/img/mobile_top_lr.svg);
                    left: -27%;
                    width: 300px;
                    top: -44%;
                    height: 125px;
                }
                & p {
                    left: 5%;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    width: 261px;
                    &::before {
                        height: 105px;
                    }
                }
            }
            & .top_rtext {
                & .top-text2 {
                    width: 247px;
                    margin-right: 10%;
                    &::before {
                        content: url(../meida/img/mobile_top_r.svg);
                        top: 20%;
                        left: -93%;
                    }
                    & p {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                        margin-top: 20%;
                        width: 247px;
                    }
                }
            }
            & .red-btn {
                margin-top: 68px;
                display: flex;
                justify-content: center;
                & button {
                    padding: 18px 0;
                    width: 300px;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
        
        & .he__text {
            margin-bottom: 0;
            & h1 {
                font-weight: 600;
                font-size: 30px;
                line-height: 37px;
                margin-bottom: 30px;
                margin-top: 0;
                &::before {
                    width: 40px;
                    height: 3px;
                }
                &:last-child {
                    display: none;
                }
            }
        }
        & .why {
            padding-bottom: 50px;
            & .he__text {
                & h1 {
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 37px;
                }
            }
            & .why__row {
                flex-direction: column;
                align-items: center;
                & .why__coll {
                    width: 300px;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    & img {
                        &.cercl {
                            width: 30px;
                            height: 30px;
                            left: -22px;
                            top: 185px;
                        }
                        &.plus {
                            width: 44px;
                            height: 44px;
                            top: 264px;
                        }
                        &.plusb {
                            width: 44px;
                            height: 44px;
                            top: 705px;
                            right: 285px;
                        }
                    }
                    & .coll__item {
                        width: 300px;
                        padding: 20px 10px;
                        & h1 {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 20px;
                            margin-bottom: 10px;
                        }
                        & p {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }
                & .why__colr {
                    width: 300px;
                    & .cercl {
                        width: 30px;
                        height: 30px;
                        top: 1278px;
                    }
                    & .colr__item {
                        & img {
                            width: 300px;
                        }
                        & h1 {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 20px;
                        }
                        &:last-child {
                            padding: 20px 10px;
                        }
                    }
                }
            }
        }
        & .advant {
            & img {
                &.adv__bgl {
                    width: 203px;
                    height: 316px;
                    top: 642px;
                }
                &.adv__bgr {
                    width: 137px;
                    height: 247px;
                    top: 1030px;
                }
            }
            & .cercl {
                top: 386px;
                left: -5%;
                width: 30px;
                height: 30px;
            }
            & .cercll {
                width: 30px;
                height: 30px;
                top: 1291px;
                right: -2%;
            }
            & .plus {
                top: 583px;
                right: -2%;
                width: 44px;
                height: 44px;
            }
            & .plusr {
                width: 44px;
                height: 44px;
                top: 1561px;
                left: -6%;
            }
            & .advant__text {
                width: 100%;
                & h1 {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            & .advant__row {
                & .advant__item {
                    background: linear-gradient(90deg, #b82b40 0%, #1e1e1e 10%, #1e1e1e 10%, #1e1e1e 100%);
                    & h1 {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    & p {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        width: 70%;
                    }
                    &:nth-child(even) {
                        background: linear-gradient(270deg, #b82b40 0%, #1e1e1e 10%, #1e1e1e 10%, #1e1e1e 100%);
                    }
                }
            }
        }
        & .for {
            & .for__row {
                margin-bottom: 40px;
                & .for__item {
                    margin-bottom: 40px;
                    padding: 20px 8px;
                    & .item__num {
                        width: 25px;
                        height: 25px;
                        top: 17px;
                        left: 12px;
                        & p {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 22px;
                        }
                    }
                    & h1 {
                        margin-left: 44px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 11px;
                    }
                    & p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
            & .for__rowb {
                flex-direction: column;
                & .rowb__coll {
                    margin: 0;
                    width: 100%;
                    & .coll__item {
                        padding: 20px 10px;
                        & h1 {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 20px;
                            margin-bottom: 10px;
                        } 
                        & p {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            }
                    }
                }
                & .rowb__colr {
                    width: 100%;
                    & .colr__item {
                        padding: 20px 10px;
                        & h1 {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 20px;
                        }
                        &.img {
                            width: 100%;
                            &::after{
                                width: 276px;
                                height: 146px;
                            }
                            & img {
                                width: 100%;
                            }
                        }
                    }
                    & .red-btn {
                        & button {
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;}
                    }
                }
            }
        }
        & .steps {
            padding-bottom: 50px;
            & .steps__text {
                & h1 {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;}
            }
            & .steps__row {
                & .steps__item {
                    align-items: center;
                    & .steps__col1 {
                        margin: 0 13px 0 0;
                        & h1 {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;}
                    }
                    & .steps__col2 {
                        margin: 0;
                        & .steps__num {
                            margin: 0;
                            width: 90px;
                            height: 44px;
                        }
                        &::after {
                            display: none;
                        }
                    }
                    & .steps__col3 {
                        display: none;
                    }
                    &:nth-child(even) {
                        & .steps__col1 {
                            margin: 0 0 0 13px;
                        }
                        & .steps__col3 {
                            display: none;
                        }
                        & .steps__col2 {
                            margin: 0;
                        }
                    }
                }
            }
            & .steps__undertext {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                width: 100%;
                }
        }
        & .ture {
            overflow: hidden;
            height: 330px;
            & .ture__bg {
                overflow: hidden;
                width: 100%;
                position: absolute;
                height: 330px;
                & img {
                    width: auto;
                    height: 100%;
                    transform: translateX(-34%);
                }
            }
            & .container {
                & h1 {
                    margin-top: 61px;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 27px;
                    width: 90%;
                }
                & .red-btn {
                    & button {
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                        padding: 18px 0;
                        width: 300px;
                    }
                }
            }
        }
        & .contacts {
            & .contacts__text {
                & p {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            & .contact__forms {
                flex-direction: column;
                position: relative;
                z-index: 30;
                & .contacts__form {
                    order: 2;
                    width: 100%;
                    & p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    & input {
                        width: 100%;
                        height: 50px;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                    }
                    & textarea {
                        width: 100%;
                        height: 140px;
                    }
                }
                & .form__img {
                    order: 1;
                    margin: 0;
                    & img {
                        width: 100%;
                        margin-bottom: 40px;
                    }
                }
                
            }
            & .form__bg {
                width: 396px;
                top: 489px;
            }
        }
        & .reviews {
            padding-bottom: 50px;
            & .reviews__text {
                & p {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 10px;
                    }
                & h1 {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    }
            }
            & .rew {
                & .rew__item {
                    margin-bottom: 30px;
                    & h1 {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 10px;
                    }
                    & p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        }
                }
            }
        }
        & .faq {
            padding-bottom: 60px;
            & .questions { 
                & .quest {
                    & h1 {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                    width: 80%;
                }
                }
            }
        }
    }
    footer {
        & .footer__row {
            flex-direction: column;
            & .footer__coll {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 28px;
                & .logo {
                    width: 200px;
                    margin-bottom: 20px;
                    & a, p {
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 16px;
                        margin-bottom: 20px;
                    }
                }
            }

        }
        & ul {
            display: none;
        }
        & .footer__icons {
            margin:0  10% 0 10% ;
            justify-content: center;
            width: 80%;
            & a {
                & img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}